  <script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
  </script>
        <!-- Piwik -->
        <script type="text/javascript">
        var _paq = _paq || [];
        _paq.push(["setDomains", ["*.bigdoor24.pl"]]);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "//tracking.noknok.pl/";
            _paq.push(['setTrackerUrl', u + 'piwik.php']);
            _paq.push(['setSiteId', '5']);

            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.type = 'text/javascript'; g.async = true; g.defer = true; g.src = u + 'piwik.js'; s.parentNode.insertBefore(g, s);
        })();
        </script>
        <noscript><p><img src="//tracking.noknok.pl/piwik.php?idsite=5" style="border:0;" alt="" /></p></noscript>
        <!-- End Piwik Code -->
    <!-- Java script-->
    <script src="@Context.GetLink("/assets/js/core.min.js")"></script>
    <script src="@Context.GetLink("/assets/js/script.js")"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        if(window.location.host.includes('bigdoor24')){
        $(".feedback").on("click", function (evt) {
          var webe = $('#webklipper-publisher-widget-container-content');
          if (webe[0] !== null && typeof (webe[0]) !== 'undefined') {
            evt.preventDefault();
          }
        });
        }
      });
    </script>
    <script id="_webengage_script_tag" type="text/javascript">
    if(window.location.host.includes('bigdoor24')){
        var webengage; !function (w, e, b, n, g) { function o(e, t) { e[t[t.length - 1]] = function () { r.__queue.push([t.join("."), arguments]) } } var i, s, r = w[b], z = " ", l = "init options track screen onReady".split(z), a = "feedback survey notification".split(z), c = "options render clear abort".split(z), p = "Open Close Submit Complete View Click".split(z), u = "identify login logout setAttribute".split(z); if (!r || !r.__v) { for (w[b] = r = { __queue: [], __v: "6.0", user: {} }, i = 0; i < l.length; i++)o(r, [l[i]]); for (i = 0; i < a.length; i++) { for (r[a[i]] = {}, s = 0; s < c.length; s++)o(r[a[i]], [a[i], c[s]]); for (s = 0; s < p.length; s++)o(r[a[i]], [a[i], "on" + p[s]]) } for (i = 0; i < u.length; i++)o(r.user, ["user", u[i]]); setTimeout(function () { var f = e.createElement("script"), d = e.getElementById("_webengage_script_tag"); f.type = "text/javascript", f.async = !0, f.src = ("https:" == e.location.protocol ? "https://ssl.widgets.webengage.com" : "http://cdn.widgets.webengage.com") + "/js/webengage-min-v-6.0.js", d.parentNode.insertBefore(f, d) }) } }(window, document, "webengage");
        webengage.init("82617c0c");
    }
    </script>