  <script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
  </script>
        <!-- Piwik -->
        <script type="text/javascript">
        var _paq = _paq || [];
        _paq.push(["setDomains", ["*.bigdoor24.pl"]]);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "//tracking.noknok.com.pl/";
            _paq.push(['setTrackerUrl', u + 'piwik.php']);
            _paq.push(['setSiteId', '5']);

            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.type = 'text/javascript'; g.async = true; g.defer = true; g.src = u + 'piwik.js'; s.parentNode.insertBefore(g, s);
        })();
        </script>
        <noscript><p><img src="//tracking.noknok.com.pl/piwik.php?idsite=5" style="border:0;" alt="" /></p></noscript>
        <!-- End Piwik Code -->
    <!-- Java script-->
    <script src="@Context.GetLink("/assets/js/core.min.js")"></script>
    <script src="@Context.GetLink("/assets/js/script.js")"></script>